
        .ggt{
			width:500px;
			 padding-left:30px;
			}
			.ftt{
				border:2px solid aqua;
				padding:10px;
				}
				.jk{
					width:200px;
					padding:10px;
					}
					.wer{
						width:410px;
						padding:10px;
						}
						.select{
							width:430px;
							
							
							}
							option{
								padding:10px;
								
								}
        
   